


body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  background-color: black;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../src/camera.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../src/tracking.jpg");
  min-height: 40vh;
}

.bgimg-3 {
background-image: url("../src/traffic_sign.jpg");
  min-height: 40vh;
}
.bgimg-4{
background-image: url("../src/accident.jpg");
  min-height: 40vh;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
}

.caption span{

  background-color: #111111;
  opacity: 0.7;

}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  font: 20px "Lato", serif;
  color: #111;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 1.5em;}
    100% {bottom: 0;}
}

.arrow {
  position: absolute;
  margin-bottom: 20vh;
    animation: bouncing 1s infinite;

    margin-left: 2em;

    width: 50px;
}
