<!DOCTYPE html>
<!-- This is home page where all the blogs, comments etc will be rendered on
    screen -->
<head>
<!-- Below tag is for responsive view-->
<meta name="viewport" content="width=device-width,
minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta charset="utf-8">
<title>Build a portfolio site</title>
<link rel="stylesheet"
href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
href=
"https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script
src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js">
</script>
    <link type="text/css" href="/static/blog.css" rel="stylesheet" >
    <script src="/static/blog.js"></script>




</head>
<body>


<div class="">
<ul class="nav nav-pills" style="border-bottom: solid deeppink 0.3em;
   margin-top:1.5em; padding-bottom: 1em; margin-left: 2em;margin-right: 2em;">

    <li ><a href="/blog" class="nav-data" >
      <button type="button"> Home </button></a></li>
  <li class="pull-right" ><a href="/blog/newpost" class="nav-data">
      <button type="button"> Add New Post</button></a></li>
  {% if user_logged %}
  <li role="presentation"><a href="/blog/logout">Logout</a></li>
  {% endif %}
</ul>


<!-- Jinja2 template provides for loop that can be used to display
    various elements in html page -->

{% for blog in blogs %}


<div class="col-sm-3 is_clicked">
    <div class="blogBlock grid1">
    <h1>{{ blog.subject }}</h1>
    </div>

  <div id="overlay_grid">
      <div class="overlay-content">
          <p>By{{ blog.owner }}</p>
        <p>Created {{ blog.created }} </p>
      </div>
  </div>
</div>

 <form action="/blog/getBlog" method="get">
    <button  name="post_id" value="{{ blog.key().id() }}" >Read More.. </button></a>
</form>




{%  endfor %}







    <script src="http://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
</body>
</html>