<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit-comment</title>
</head>
{% extends "base_navigation.html" %}
{% block content %}
<form method="post" action="/blog/editComment">

<textarea name="comment"
          style="margin-top:2em; margin-left:2em" >{{ comment_obj.comment }}
</textarea>
        <input type="hidden"
               name="comment_id" value="{{ comment_obj.key().id() }}">

    <input type="hidden" name="post_id" value="{{ blog_id }}" />
        <input type="submit">
    </form>

<h2><form action="/blog/getBlog"  method="get">
    <button type="submit" name="post_id" value="{{ blog_id }}" style="background-color: khaki; color:red;font-size:0.5em">
        Cancel
    </button>
</form>
</h2>

{%  endblock %}
</html>