
{% extends "webPage.html" %}

{% block body%}
<div class="container" style="height: 75%; margin: 2em">

<div class="row" style="margin: 1em">
<form method="post" action="/generateCode">
To register, Please email us and then one you get a reply, generate a code by clicking below !!
    <input type="email" placeholder="Your Email Id" name="userEmail"/>
<button class="btn btn-primary pull-right" type="submit">Generate Code </button>
      {%  if code and code|int %}
          <br/>
    <label style="color: green"> Your Code is -> {{ code }}</label>
    {% elif code and code|length >10 %}
    <label style="color: red">{{ code }}</label>
    {% endif %}

</form>
</div>

<div class="row">


<form method="post" action="/blog/register">


<label>User Email    <input type="text" name="email" value="{{ items['email']}}"> </label>
    <p style="color: red;">{{ items['EmailError'] }}</p>

<label>Password    <input type="password" name="password"></label>
    <p style="color: red;">{{ items['PassError'] }}</p>

<label>Re-Enter password    <input type="password" name="passwordRe">
</label>    <p style="color: red;">{{ items['PassReError'] }}</p>



<label> Enter the Code    <input type="text" name="code" /> </label>
    <p style="color: red;">{{ items['codeError'] }}</p>
<br>

    <button class="btn btn-default btn-lg" type="submit"> SUBMIT </button>
</form>

<h2>Already Registered ?</h2>
<h2 >
    <a href="/">
       <button class="btn btn-warning">Log-In</button>
    </a>
</h2>
</div>
</div>

{% endblock %}