body{

background: url("./wood1.jpg");

background-size: 100% 100%;
    font-family: 'Pangolin', cursive;


}

.nav-data{


    font-color: magenta;
    font-size: 2em;
    font-family: 'American Typewriter';
    font-weight: 800
}

.blogBlock{
    background-color: lightpink;
    margin: 1em;
    border: 0.2em solid black;
    box-shadow: 1em 0.2em lightcoral;
    width: 100%;
    height: 100%;
}

.blogContent{

    display:None;
}

.onclicked{
    display: None;
}


#overlay_grid{
    height: 0%;
    width: 100%;
    position: absolute;

    z-index: 1;
	top:1em;
    background-color: rgba(0,0,0, 0.8);
    overflow-y: hidden;
    transition: 0.5s;

}

.overlay-content{
    position: relative;
    color:white;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 0.9em;
    font-family: 'Pangolin', cursive;
}
